In [1]:
n=int(input("enter number"))
if(n>0):
  print("positive")
elif(n<0):
  print("negativwe")
elif(n==0):
  print("zero")

enter number3
positive

In [2]:
year=int(input("enter year"))
if(year%4==0 and year%100!=0) or year%400==0:
  print("leap")
else:
  print("npot")

enter year3028
leap

In [5]:
n1=int(input("ente fuirst"))
n2=int(input("ente fuirst"))
n3=int(input("ente fuirst"))
if(n1>n2 and n1>n3):
  print(n1)
elif(n2>n3 and n2>n1):
  print(n2)
else:
  print(n3)

ente fuirst3
ente fuirst4
ente fuirst5
5

In [7]:
marks=int(input("enter grade"))
if(marks>=90):
  print("grade A")
elif(70<=marks<=89):
  print("grade b")
elif(50<=marks<=69):
  print("garde c")
else:
  print("fail")

enter grade87
grade b

In [20]:
char=input("enter char")
if(char=='a'or char=='e'or char=='i'or char=='o'or char=='u'):
  print("vowel")
else:
  print("consonant")

enter chard
consonant

In [46]:
for i in range(50,1,-2):
  print(i , end="")

5048464442403836343230282624222018161412108642

In [45]:

for i in range(1,51):
  if(i%2==0):
    print(i, end="")

2468101214161820222426283032343638404244464850

In [30]:
for i in range(1,51):
  if i%2==0:
    print(i,end="")

2468101214161820222426283032343638404244464850

In [44]:
f=1
n=int(input("enter n"))
for i in range(1,n+1):
  f*=i
print(f)

enter n4
24

In [48]:
n=int(input("enter n"))
for i in range(1,11):
  print(n*i)

enter n45
45
90
135
180
225
270
315
360
405
450

In [1]:
sum =0
for i in range(1,5):
   sum=sum+i**2
print(sum)

30

In [2]:
n=123
while n>0:
  r=n%10
  print(r)
  n//=10

3
2
1

In [3]:
n=1234
sum=0
while n>0:
  sum=sum+n%10
  n//=10
print(sum)

10

In [4]:
n=1234
count=0
while n>0:
  count+=1
  n//=10
print(count)

4

In [9]:
n=12
while n>=1:
  print(n)
  n/=2

12
6.0
3.0
1.5

In [10]:
n=int(input("enter number"))
sum=0
n1=n
while n>0:
  r=n%10
  sum=sum+r*r*r
  n//=10
print(sum)
if(n1==sum):
  print("arm")
else:
  print("no")

enter number153
153
arm

In [12]:
n=int(input("enter number"))
sum=0
on=n
while n>0:
  r=n%10
  sum=sum*10+r
  n//=10
print(sum)
if(sum==on):
  print("pali")
else:
    print("no")

enter number132
231
no

In [15]:
n=int(input("emter "))
on=n
t=n*n
sum=0
while t>0:
  r=t%10
  sum=sum+r
  t//=10
print(sum)
if(sum==on):
  print("neon")
else:
  print("not")

emter 9
9
neon

In [23]:
n=int(input("enter n"))
f=2
while n>1:
  if n%f==0:
    print(f)
    n//=f
  else:
    f+=1

enter n10
2
5

In [29]:
n=int(input("enter n"))
f=2
if n>1:
  while n>1:
   if n%f==0:
    print("not")
    break
   else:
    f+=1
else:
    print("prime")

enter n9
not