In [1]:
#additon of three number

In [2]:
a=30
b=20
c=90
d=a+b+c
d

140

In [3]:
a=int(input("enter number"))
b=int(input("enter second number"))
c=a*b
c

enter number10
enter second number2

20

In [7]:
a=int(input("enter "))
b=int(input("enter "))
c=int(b)/int(a)
c

enter 10
enter 50

5.0

In [5]:
p=input("enter string")
q=input("second string")
r=p+q
r

enter stringgood
second stringmorning

'goodmorning'

In [6]:
a=300
b=400
c=float(a)+float(b)
c

700.0

In [8]:
a=90
b=90
a==b

True

In [9]:
a>=b

True

In [13]:
a=input("enter item")
#burger
if(a=='burger'):
  b=int(input("how many burger want"))
  c=b*100
  if(c>1000):
    print(f"discount is{c} for that {c-(c*0.1)}")
  elif(500<=c<=1000):
      print(f"discont is for{c} is {c-(c*0.05)}")
      print(f"thats your final price {c}")
      #pizza
elif(a=='pizza'):
  b=int(input("enter how many pizza you need"))
  c=b*200
  if(400<=c<=1000):
    print(f"discount is {c} for{c-(c*0.1)}")
  elif(c>1000):
      print(f"discount is {c}for {c-(c*0.2)}")
  else:
    print("no discount here ")
    #maggi
elif(a=='maggi'):
  b=int(input("enter how many maaggi you want"))
  c=b*30
  if(c>500):
    print(f"discount for {c} is {c-(c*0.2)}")
  elif(150<=c<=500):
    print(f"discount for {c}is {c-(c*0.1)}")
  else:
    print("no discount")


else:
    print("try again")

enter itemburger
how many burger want10
discont is for1000 is 950.0
thats your final price 1000

In [15]:
a=input("enter course\n")
if(a=='python'):
  print("3 months")
  print("1000 fees")
elif(a=='java'):
  print("6 months")
  print("5000 fees")
elif(a=='html'):
  print("10 months")
  print("50000 fees")
else:
  print("type right course")

enter course
python
3 months
1000 fees