In [1]:
#functions

In [2]:
# two types of function
#1. pre defined functipn like print() input()
#2. manually difined function 
#syntax 
#def nameoffunction :
 #       logic
#callfunction

In [5]:
def add():
    a=2
    b=9
    c=a+b
    print(c)
add()

11

In [6]:
#method 2 parameter with arguments

In [7]:
def add(a,b):
    c=a+b
    print(c)
add(1,2)

3

In [8]:
#metrhod 3
def add():
    a=int(input("enter"))
    b=int(input("enter 2"))
    c=a+b
    print(c)
add()

enter 1
enter 2 2

3

In [9]:
#wap of fctoriw;
def fact():
    n=5
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
fact()

120

In [10]:
#wap to check even or odd
def eveodd():
    a=4
    if(a%2==0):
        print("even")
    else:
        print("odd")
eveodd()

even

In [11]:
#wap to count digit
def cou():
    count=0
    n=1234
    while n>0:
        n//=10
        count+=1
    print(count)
cou()

4

In [13]:
#armstrong
def arm():
    n=153
    num=n
    sum=0
    while n>0:
        r=n%10
        sum=sum+r*r*r
        n//=10
    print(sum)
    if sum==num:
        print("armstriong")
    else:
        print("not")
arm()

153
armstriong

In [16]:
#pali
def pali(n):
    num=n
    sum=0
    while n>0:
        r=n%10
        sum=sum*10+r
        n//=10
    print(sum)
    if(num==sum):
        print("pakiiindorme")
    else:
        print("not")
pali(132)

231
not

In [19]:
#square of num
def sq():
    n=3
    s=n**2
    print(s)
sq()

27

In [20]:
def cu():
    n=5
    s=n**3
    print(s)
cu()

125

In [24]:
print("Shopping List:\n1. Apples\n2. Bread\n3. Milk")

Shopping List:
1. Apples
2. Bread
3. Milk

In [30]:
money = int(input("How much money do you spend per month: "))

# the number of miles per unit of money
n_miles = 2

# earned miles
miles_per_month = money * n_miles

# the distance between London and Paris
distance = 215

# how many months do you need to get
# a free trip from London to Paris and back
print(distance * 2 / miles_per_month)

How much money do you spend per month:  10000

0.0215

In [31]:
#sum of digit
def sd():
    i=1234
    sum=0
    while i>0:
        d=i%10
        sum=sum+d
        i//=10
    print(sum)
sd()

10

In [32]:
def sd(n):
    sum=0
    while n>0:
        d=n%10
        sum=sum+d
        n//=10
    print(sum)
sd(12333)

12

In [34]:
#countofdigit
def cd():
    count=0
    i=123
    while i>0:
        count+=1
        i//=10
    print(count)
cd()

3

In [37]:
#rev
def re():
    i=123
    sum=0
    while i>0:
        d=i%10
        sum=sum*10+d
        i//=10
    print(sum)
re()

321

In [43]:
#rev with for loop
i=123
sum=0
d=str(i)
for i in range(len(d),0,-1):
    r=i%10
    sum=sum*10+r
    i//=10
print(sum)

321

In [52]:
#sumdigit with for loop in for loop firstly we convert digit in string to run loop then we only apply modulas or floor division in digits not in string 
c=123
sum=0
b=str(c)
type(b)
for i in range(len(b)):
    r=c%10
    sum=sum+r
    c//=10
print(sum)

6

In [53]:
#sum of digit even  or odd 
i=1234
even=0
odd=0
while i>0:
    d=i%10
    i//=10
    if(d%2==0):
        even=even+d
    else:
        odd=odd+d
print(even,odd)

6 4

In [54]:
def cd():
    i=12344
    even=0
    odd=0
    while i>0:
        d=i%10
        i//=10
        if(d%2==0):
            even=even+d
        else:
            odd=odd+d
    print(even,odd)
cd()

10 4

In [70]:
a = 1234 
b = str(a) 
ev = 0
od = 0
for i in range(len(b)):
    c = int(b[i])
    if(c%2==0):
        ev = ev + c 
    else:
        od = od + c 
print(ev,od)

6 4

In [77]:
n=int(input("enter mnumber"))
a=34
b=a+n
print(b)

enter mnumber 3

37

In [78]:
a=12234
sum=0
while a>0:
    r=a%10
    sum=sum+r
    a//=10
print(sum)

12

In [79]:
#10ques

In [90]:
#1
a=[1,2,4,3,2]
def ev(x):
    if x%2==0:
        return True
even=list(filter(ev,a))
even

odd=list(filter(lambda x:x%2!=0,a))
odd
print(even,odd)

[None, True, True, None, True] [1, 3]

In [91]:
a=[1,2,3]
def sq(x):
   return x**2
b=list(map(sq,a))
b

[1, 4, 9]

In [97]:
#smallest largest number
a=[1,23,3]
l=a[0]
for num in a:
    if num>l:
        l=num
l
s=a[0]
for num in a:
    if num<s:
        s=num
s

1