In [ ]:
#lists is a datatype

In [ ]:
a=["chirag","jain",66,33]
print(a)
print(a[2])

['chirag', 'jain', 66, 33]
66

In [ ]:
#len function
len(a)

4

In [ ]:
#index function
a.index("chirag")

0

In [ ]:
a=["chirag","aakash",88,"ravi",44]
for i in range(len(a)):
  print(a[i])

chirag
aakash
88
ravi
44

In [ ]:
c=["nupur","riya","diya",23,43]
c[2]="sakshi" #change the value in ;lsit
print(c)

['nupur', 'riya', 'sakshi', 23, 43]

In [ ]:
#loop in list
for i in c:
  print(i)

nupur
riya
sakshi
23
43

In [ ]:
#pop function to rempove last value of list
c=["chirag","nupur","nirvan",56,76]
c.pop()
print(c)

['chirag', 'nupur', 'nirvan', 56]

In [ ]:
#min
a=[1,2,3]
min(a)

1

In [ ]:
#max
max(a)

3

In [ ]:
#append to add element in list
a=["aakaash","riya"]
a.append(44)
print(a)

['aakaash', 'riya', 44]

In [ ]:
#insert(index,value) add value in specified index by user
a=["chirag","rrrr",66]
a.insert(1,55)
print(a)

['chirag', 55, 'rrrr', 66]

In [ ]:
#remove() remove value in list
a=["chirag",66,665]
a.remove(66)
print(a)

['chirag', 665]

In [ ]:
#count count frequency of value
a=[1,2,3,4,3,2,13,21,1,1,1,2,2]
a.count(2)

4

In [ ]:
#properti of list

In [ ]:
#concatenation
a=[2,2,3,4,"chirag"]
b=["nupu","riya"]
c=a+b
print(c)

[2, 2, 3, 4, 'chirag', 'nupu', 'riya']

In [ ]:
#replication
a=[1,2,3,4]
a*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#in str we can use only count
s="chirag is good"
len(s)

14

In [ ]:
s.count("i")

2

In [ ]:
#useer define list
a=[]
size=int(input("enter size"))
for i in range(size):
  val=input("enter item")
  a.append(val)
print(a)

enter size2
enter itemaakash
enter itemjain'
['aakash', "jain'"]

In [ ]:
#wap to get user input list and sum the given numbers which is get by user

In [ ]:
a=[]
size=int(input("enter size"))
for i in range(size):
  val=int(input("enter num"))
  a.append(val)
print(a)
sum=0
for i in range(len(a)):
  sum=sum+a[i]
print(sum)

enter size3
enter num1
enter num2
enter num3
[1, 2, 3]
6

In [ ]:
#wap to check frequency of word in list
a=[]
size=int(input("enter size"))
for i in range(size):
  val=input("enter values ")
  a.append(val)
print(a)
b=input("enter word which we are counting")
a.count(b)

enter size2
enter values chi
enter values chi
['chi', 'chi']
enter word which we are countingchi

2

In [ ]:
#tuples

In [ ]:
a=("chirag","sam","ravi",12,122,23)
type(a)

tuple

In [ ]:
a.count(12)

1

In [ ]:
a.index(122)

4

In [ ]:
#wap to get user input in tuple

In [ ]:
a=[]
size=int(input("enter size"))
for i in range(size):
  val=input("enter values")
  a.append(val)
print(a)
#convert list into tuple
tup=tuple(a)
print(tup)

enter size3
enter valueschir
enter values33
enter valuesrav
['chir', '33', 'rav']
('chir', '33', 'rav')

In [ ]:
#loop in tuple
a=("chirag","riya","divya")
for i in a:
  print(i)

chirag
riya
divya

In [ ]:
a=("ravhi","nupur","sish",55)
for i in range(len(a)):
  print(a[i])

ravhi
nupur
sish
55

In [ ]:
#properties in tuple
#it is immutable

In [ ]:
#conactenatin
a=("chirag","cc")
b=("chrrr","ram")
c=a+b
print(c)

('chirag', 'cc', 'chrrr', 'ram')

In [ ]:
#replication
b=a*3
print(b)

('chirag', 'cc', 'chirag', 'cc', 'chirag', 'cc')

In [ ]:
#check immutable
a=("ravi","nupur")
a[1]="ram"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#to change value we can first change tuple in list
b=list(a)
print(b)
b[1]="simarn"
print(b)
c=tuple(b)
print(c)

['ravi', 'nupur']
['ravi', 'simarn']
('ravi', 'simarn')

In [ ]:
#sum functio
a=(1,2,3)
sum(a)

6

In [ ]:
#wap to get user input then add more item
a=[]
size=int(input("enter size"))
for i in range(size):
  val=input("enter value")
  a.append(val)
print(a)
am=int(input("how many itwm want more"))
for i in range(am):
  val2=input("enter more values")
  a.append(val2)
print(a)
b=tuple(a)
print(b)

enter size2
enter valuesam
enter valuenam
['sam', 'nam']
how many itwm want more2
enter more valuesraj
enter more values22
['sam', 'nam', 'raj ', '22']
('sam', 'nam', 'raj ', '22')

In [ ]:
a=[]
size=int(input("enter size"))
for i in range(size):
  val=input("enter values")
  a.append(val)
print(a)
val2=input("enter value")
a.append(val2)
print(a)


b=tuple(a)
print(b)
b.count("sam")

enter size2
enter valuesam
enter valuessam
['am', 'sam']
enter valuesam
['am', 'sam', 'sam']
('am', 'sam', 'sam')

2

In [ ]:
a=[]
size=int(input("enter aizse"))
for i in range(size):
  val=input("enter value")
  a.append(val)
print(a)
am=int(input("how many size more"))
for i in range(am):
  val2=input("enter value ")
  a.append(val2)
print(a)
#check count
co=input("element you wanna count")
a.count(co)
print(a)
b=tuple(a)
print(b)

KeyboardInterrupt: Interrupted by user

In [ ]:
#wap to delete value in tuple in tuple we can first create list because tuple is immutable doesnt modufy at runtime
a=[]
size=int(input("enter size"))
for i in range(size):
  val=input("enter values")
  a.append(val)
print(a)

delw=input("which item you want to dekete")
a.remove(delw)
print(a)
b=tuple(a)
print(b)

enter size3
enter valuessam
enter valuesram
enter valuesnam
['sam', 'ram', 'nam']
which item you want to deketenam
['sam', 'ram']
('sam', 'ram')

In [ ]:
a=[]
size=int(input("enter size"))
for i in range(size):
  val=input("enter value")
  a.append(val)
print(a)
m=a[-1::-1]
print(m)

enter size2
enter value1
enter value2
['1', '2']
['2', '1']

In [ ]:
a=("1","2","3")
m=a[-1::-1]
print(m)

('3', '2', '1')

In [ ]:
menu={
    'pizza':50,
    'coffe':100,
    'pasta':80,
    'burger':40
}
print("welcome to my restraun")
print("pizza:50\ncoffe:100\npasta:80\nburger:40")
item1=input("enter item name")
to=0
if item1 in menu:
  to+=menu[item1]
  print(f"your {item1} is added and pay{to} ruppes")
else:
  print("change the dish")

n=input("do you want more order yes or no")
if n=='yes':
  item2=input("enter second itam name")
  to+=menu[item2]
  print(f"your{item2} is been added and pay {to} rupees")
else:
  print("ok we understood ")

print(to)
print("thanks for visiting in our restaurant")

welcome to my restraun
pizza:50
coffe:100
pasta:80
burger:40
enter item nameburger
your burger is added and pay40 ruppes
do you want more order yes or noyes
enter second itam namecoffe
yourcoffe is been added and pay 140 rupees
140
thanks for visiting in our restaurant

In [ ]:
m=10
n=1
for i in range(n,m):
  print(m)

10
10
10
10
10
10
10
10
10

In [ ]:
a=[1,2,3,4]
sum(a)

10

In [ ]:
a=[]
size=int(input("enter size"))
sum=0
for i in range(size):
  val=int(input("enter values"))
  a.append(val)
  sum+=val
print(a)
print(sum)

enter size2
enter values1
enter values2
[1, 2]
3

In [ ]:
a=[1,2,3]
max(a)

3

In [ ]:
#priogram to remove duplicate number in python
a=[1,2,3,2,1,2,1,4,5]
b=[]
for num in a:
  if num not in b:
    b.append(num)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
#counting duplicte num
from ast import Num
a=[1,2,3,1,2,3,3]
b=[]
for num in a:
  if num not in b:
    print(f"{num} in {a.count(num)}")
    b.append(num)
print(b)

1 in 2
2 in 2
3 in 3
[1, 2, 3]

In [ ]:
numbers = [1, 2, 3, 4, 2, 3, 5, 6, 1, 2, 3, 4]

unique_numbers = []  # To keep track of processed numbers

for num in numbers:
    if num not in unique_numbers:
        print(f"{num}: {numbers.count(num)}")
        unique_numbers.append(num)

1: 2
2: 3
3: 3
4: 2
5: 1
6: 1

In [ ]:
a=[1,2,3]
print(a[-1::-1])

[3, 2, 1]

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
f=1#factorial
n=5
for i in range(1,n+1):
  f=f*i

print(f)

120

In [ ]:
f=1;
n=5;
if(n<0):
  print("not")
else:
  for i in range(1,n+1):
     f=f*i
print(f)

120

In [ ]:
count=0#print even number or count it
for i in range(2,51,2):
  print(i ,end=" ")
  count+=1
print(count)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 25

In [ ]:
n=10
a=0
b=1
for i in range(n):
  print(a)
  next=a+b
  a=b
  b=next

0
1
1
2
3
5
8
13
21
34

In [ ]:
sum=0
n=1234
while n>0:
  r=n%10
  sum=sum+r
  n//=10
print(sum)

10

In [ ]:
sum=0
n=124
for i in range(len(str(n))):
  sum=sum+n%10
  n//=10
print(sum)

7

In [ ]:
n=171
num=n
sum=0
while n>0:
  r=n%10
  sum=sum*10+r
  n//=10
print(sum)
if sum==num :
    print("pali")
else:
    print("not")

171
pali

In [ ]:
#dictionary in python

In [ ]:
a={
    "name":"chirag",
    "age":20,
    "course":"bca"
}
print(a)

{'name': 'chirag', 'age': 20, 'course': 'bca'}

In [ ]:
type(a)

dict

In [ ]:
#loop

In [ ]:
for i in a.keys():
  print(i)

age
course

In [ ]:
for i in a.values():
  print(a)

{'age': 20, 'course': 'bca'}
{'age': 20, 'course': 'bca'}

In [ ]:
for x,y in a.items():
  print(x,y)

age 20
course bca

In [ ]:
for i in range(len(a)):
  print(i)

0
1

In [ ]:
print(a)
a["age"]=88 #update values
print(a)

{'age': 20, 'course': 'bca'}
{'age': 88, 'course': 'bca'}

In [ ]:
a.update({"course":"aakash"})#2nd method to update va;lues
print(a)

{'age': 88, 'course': 'aakash', 'name': 'aakash'}

In [ ]:
print(a)

{'age': 88, 'course': 'aakash', 'name': 'aakash'}

In [ ]:
for i in a.keys():
  print(i)

age
course
name

In [ ]:
a.pop("name")# remover sepecific pair
print(a)

{'age': 88, 'course': 'aakash'}

In [ ]:
a.popitem()#removes last elemnet of key value
print(a)

{'age': 88}

In [ ]:
a.clear()
print(a)

{}

In [ ]:
#sets in pyth9on

In [ ]:
a={1,2,3}
type(a)